

/* SECCION DEL CARRUSEL */
#imagenCarrusel {
  width: 800px;
  height: 550px;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
}

#imagenCarrusel.fade {
  opacity: 0;
}

/* RESUMEN: transiciones suaves para las cajas */
#boxProblema, #boxSolucion, #boxOferta {
  overflow: hidden;
  transition: opacity 500ms ease-in-out, max-height 500ms ease-in-out, transform 500ms ease-in-out;
  max-height: 100vh;
}
